---
layout: page
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ page.title }}</h1>
          <p class="italic">By <span class="bold">{{ site.author }}</span> on <span class="bold">{{  page.date | date: "%B %-d, %Y" }}</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post">
          {{ content }}
        </div>
        <p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
        </p>
      </div>
    </div>
  </div>
</section>
